<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--bean scope singleon 单例模式  prototype 非单例-->
    <bean id="userDao" name="dao dao2" class="me.littlecontrol.dao.impl.UserDaoImpl" scope="singleton"
          init-method="init" destroy-method="destory"/>

    <bean id="studentDao" name="studentDao" class="me.littlecontrol.dao.impl.StudentDaoImol">
        <constructor-arg name="stuId" value="123"/>
        <constructor-arg name="stuName" value="Avalon"/>
    </bean>

    <!--    构造函数实例化bean-->
    <bean id="userService" name="service service2" class="me.littlecontrol.service.impl.UserServiceImpl">
        <constructor-arg name="userDao" ref="userDao"/>
        <constructor-arg name="studentDao" ref="studentDao"/>
    </bean>


</beans>