<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userService" name="service service2" class="me.littlecontrol.service.impl.UserServiceImpl"
          scope="prototype">
        <property name="userDao" ref="userDao"/>
    </bean>

    <!--bean scope singleon 单例模式  prototype 非单例-->
    <bean id="userDao" name="dao dao2" class="me.littlecontrol.dao.impl.UserDaoImpl" scope="singleton"/>
</beans>