<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    构造函数实例化bean-->
    <bean id="userService" name="service service2" class="me.littlecontrol.service.impl.UserServiceImpl"
          scope="prototype">
        <property name="userDao" ref="userDao"/>
    </bean>

    <!--bean scope singleon 单例模式  prototype 非单例-->
    <bean id="userDao" name="dao dao2" class="me.littlecontrol.dao.impl.UserDaoImpl" scope="singleton"/>

    <!--    工厂函数实例化bean-->
    <bean id="studentDao" class="me.littlecontrol.factory.StudentDaoFactory" factory-method="getStudentDao"/>

    <!--    使用实例工厂实例化bean-->
    <bean id="studentFactory" class="me.littlecontrol.factory.StudentDao2Factory"/>
    <bean id="studentDao2" factory-bean="studentFactory" factory-method="getStudentDao"/>

    <!--    使用factoryBean 实例化bean-->
    <bean id="studentDao3" class="me.littlecontrol.factory.StudentDaoFactoryBean"/>
</beans>